max_rd_len=101
[LIB]
avg_ins=234
reverse_seq=0
asm_flags=3
rd_len_cutoff=101
rank=1
pair_num_cutoff=3
map_len=32
q1=/bigdata/bioinfo/esmit013/fungal_assembly/soap_raw_data/flowcell271_lane5_pair1.fastq
q2=/bigdata/bioinfo/esmit013/fungal_assembly/soap_raw_data/flowcell271_lane5_pair3.fastq


##directories for processed fqs are slightly different:
##q1=/bigdata/bioinfo/esmit013/fungal_assembly/soap_processed_data/flowcell271_lane5_pair1_val_1.fq
##q2=/bigdata/bioinfo/esmit013/fungal_assembly/soap_processed_data/flowcell271_lane5_pair3_val_2.fq
